<div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-5">
            <h2>Post details:</h2>
        </div>
    </div>

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">Id:</label>

            <div class="col-sm-5">
                <input ng-model="brainCandyDetails.details.id" placeholder="ID">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Name:</label>

            <div class="col-sm-5">
                <input ng-model="brainCandyDetails.details.name" placeholder="Enter name">

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Author:</label>

            <div class="col-sm-5">
                <input ng-model="brainCandyDetails.details.author" placeholder="Enter author">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <a class="btn btn-primary btn-sm" href="#/">Back</a>
                <a ng-disabled="brainCandyDetails.buttonSave" ng-click="brainCandyDetails.saveCandy()"
                   class="btn btn-primary btn-sm" href="#/">Save</a>
            </div>
        </div>
    </form>
</div>