<h4>This is the typeahead exercise</h4>

<input ng-click="typeahead.getContacts()" type="text" ng-model="selected" class="form-control"
       typeahead="state.name for state in typeahead.data | filter:$viewValue | limitTo:8"
       typeahead-on-select="typeahead.selectContact($item)">


<hr/>

<div ng-if="typeahead.selected">
<h4>Selected item</h4>
    <ul>
        <li>Id: {{typeahead.selected.id}}</li>
        <li>Name: {{typeahead.selected.name}}</li>
        <li>Email: {{typeahead.selected.email}}</li>
        <li>Nice name: {{typeahead.selected.nice_name}}</li>
    </ul>
</div>

<div ng-if="typeahead.selected==undefined">
    <p>No item selected.</p>
</div>